@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');
*{font-family: 'Roboto Condensed', sans-serif;}

#html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1c1c2c;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150vh;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: fit-content;
    gap: 30px;
}

.inputs h1{
    font-size: 1em;
    color: white;
}

.first, .second, .third{
    display: flex;
    flex-direction: column;
    width: 50vh;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 10px;
}

.btns{
    display: flex;
    flex-direction: row;
    width: 15vh;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

#calcular{
    padding: 0%;
    background-color: transparent;
    border: none;
    font-size: 3.5vh;
}

#limpiar{
    padding: 0%;
    background-color: transparent;
    border: none;
    font-size: 3.5vh;
}

#mode{
    padding: 0%;
    background-color: transparent;
    border: none;
    font-size: 3.5vh;
}

.bx{
    width: 5vh;
    color: white;
}

.bx:hover{
    font-size: 4vh;
    cursor: pointer;
    color: aqua;
}

#carga1, #carga2, #distance1, #cargaPuntual, #cargaFuente, #fuerzaE, #campoE ,#distance2, #carga3{
    color: white;
    background-color: transparent;
    border: 2px solid rgb(113, 0, 141);
    border-radius: 10px;
    width: 50%;
    height: 3vh;
}

.output{
    display: flex;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    color: white;
    gap: 50vh;
}

#output1, #output2, #output3, #output4, #output5, #output6{
    margin: 0;
}

.nav-tab{
    padding: 10px;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nav-item{
    height: fit-content;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccf;
    width: 25%;
    height: 50%;
    gap: 15px;
    box-shadow: 0px 10px 30px -1px #ccc;
    animation: god 1s infinite alternate-reverse;
}

@keyframes god {
    100% {
        box-shadow: 0px 10px 50px -1px rgb(217, 183, 226);
    }
}
a:hover{
    font-weight: bold;
    color: rgb(113, 0, 141);
}
a{
    color:rgb(106, 2, 192);
}