*{color: rgb(221, 177, 177);font-family: 'Roboto Condensed', sans-serif;}
body{margin: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');
html{background-color: #1c1c1c;}

.container{
    width: 100%;
    height: 100vh;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vh;
}

.cuadrado1{
    height: 55vh;
    width: 80vh;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 3vh;
    box-shadow: 0px 10px 15px -5px rgb(255, 243, 243);
    animation: MyAnimation 1s infinite alternate-reverse;
}

@keyframes MyAnimation{
    100%{
        box-shadow: 0px 15px 30px -1px rgb(243, 141, 141);
    }
}

input{
    background-color: transparent;
    border: 2px solid antiquewhite;
    width: 30%;
    height: 5%;
    border-radius: 15px;
    text-align: center;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    appearance:none ;
}

button{
    width: 30%;
    height: 6%;
    background-color: #292929;
    border: 2px solid rgb(235, 147, 162);
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    font-weight: bolder;
    border-radius: 10px;
    width: 30.5%;
    color: rgb(235, 147, 162);
}

button:focus{
    color: rgba(235, 147, 162, 0.562);
}

.cuadrado2{
    height: 55vh;
    width: 80vh;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 10px 15px -5px rgb(255, 243, 243);
    animation: MyAnimation 1s infinite alternate-reverse;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}



.Q{
    width: 4vh;
    height: 4vh;
    background-color: crimson;
    border-radius: 100%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q2{
    width: 3vh;
    height: 3vh;
    font-weight: bold;
    background-color: crimson;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div h4{
    margin: 0px;
}

#y{
    position: absolute;
    cursor: grab;
    transform: translate(-50% , -60%);
    left: 80%;
}

#x{
    position: absolute;
    cursor:grab;
    transform: translate(-50% , -60%);
    left: 60%;
}

#textos{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#textos p{
    font-weight: bolder;
    z-index: 1;
    margin: 5px;
}

.arrow{
    width: 100px; 
    z-index: 0;
    opacity: 0.5;
}











/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(165, 159, 159);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(235, 147, 162);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(235, 147, 162);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch-container{
    top: 24%;
    left: 9.2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

    .hidden{
        opacity: 0;
    }

    .show{
        opacity: 1;
    }
    